<html>
	<head>
		<title>Kushagra Gupta - UT Austin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Kushagra Gupta is a PhD student at UT Austin, focusing on machine learning, game theory and optimization.">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600|Work+Sans:300,400,600&display=swap" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
			<link rel="stylesheet" href="css/mavo.min.css">
	<script src="js/mavo.es5.min.js"></script>
        <link rel="shortcut icon" href="img/favicon.png?v=4" type="image/png">
        <link rel="icon" href="img/favicon.png?v=4" type="image/png">
        <link rel="apple-touch-icon" href="img/favicon.png?v=4">
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-57826003-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		
		
		<div class="container-fluid">
			
			<div class="row">
				<BR><BR>
			</div>
			
		 <div class="row justify-content-md-center">
			     	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
		        		<img src="img/KG_research_vibezz.jpg"  class="img-responsive center-block"  width=47% height=auto>
		      		</div>
		      		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 line">
		      		
		      		
				<a class="title_name" href="index.html">Kushagra Gupta</a>
				
				
		<BR>
			<span style="font-size: 18px;">
        			<!-- <a href="aboutme.html">About Me</a> -  -->
        			<a href="pdfs/KG_cv.pdf">CV <img src="img/pdf.png" alt="PDF" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;"></a> - 
        			<!-- <a href="publications.html">Publications</a> -  -->
        			<!-- <a href="talks.html">Talks</a> -  -->
        			<!-- <a href="code.html">Code</a> -  -->
					<a href="https://scholar.google.com/citations?user=JfH0nfEAAAAJ&hl=en">Google Scholar <img src="img/scholar2.png" alt="Google Scholar" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;"></a> - 
        			<a href="https://github.com/kaugsrha">GitHub <img src="img/github5.png" alt="GitHub" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;"></a>
        			<!-- <a href="http://amyxzhang.wordpress.com">Blog</a> -->
        	</span>
					<BR>
						<BR>
		      		<P>
		      		PhD Student<BR>Electrical and Computer Engineering<BR>
		      		The University of Texas at Austin</P
		      			<P>
		      			Part of the <a href="https://clearoboticslab.github.io">CLeAR Lab</a> and the <a href="https://autonomy.oden.utexas.edu/Groups/autonomous-systems-group">Autonomous Systems Group</a> <BR>
		      		</P>
		      		
		      		<P>
						I explore problems at the intersection of <span style="font-style: italic;">game theory</span>, <span style="font-style: italic;">machine learning</span>, and <span style="font-style: italic;">optimization</span>. 
						I am particularly interested in developing rigorous theoretical frameworks for problems that are inspired by real-world challenges.
						My work to date has found applications in <span style="font-style: italic;">adversarial learning</span>, <span style="font-style: italic;">multi-task learning</span> and <span style="font-style: italic;">multi-agent planning/learning problems with heterogenous agent information</span>.
		        	</P>

					<P>I am advised by <a href="https://dfridovi.github.io">David Fridovich-Keil</a> and <a href="https://scholar.google.com/citations?user=jeNGFfQAAAAJ&hl=en">Ufuk Topcu</a>. Before coming to UT Austin, I did my undergrad at Indian Institute of Technology Delhi (IIT Delhi), where I explored topics in game theory, public policy and deep learning.</P>
		 				
		        			
		        	
		        	
		        	
		        	
		        		</div>
		    	 </div>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				
				
					
			  <div class="col-xs-12 col-sm-4 col-md-4 line" style="float: right; padding-right: 50px">
			  	<BR>
			  		<span class="mini-header">
						<h3>Contact Info</h3>
					</span>
						Email <img src="img/email2.png" alt="Email" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">: <a href="mailto:kushagrag@utexas.edu">kushagrag@utexas.edu</a><BR>
						Github <img src="img/github5.png" alt="GitHub" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">: <a href="https://github.com/kaugsrha">kaugsrha</a><BR>
						Google Scholar <img src="img/scholar2.png" alt="Google Scholar" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">: <a href="https://scholar.google.com/citations?user=JfH0nfEAAAAJ&hl=en">Click Here</a><BR>
						LinkedIn <img src="img/linkedin.png" alt="LinkedIn" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">: <a href="www.linkedin.com/in/kushagra-gupta-6400941ab">Click Here</a><BR>
					<BR>
					<span class="mini-header">
						<h3>Latest News</h3>
					</span>
				  	<P>
						Jan 2026: <a href="https://arxiv.org/abs/2503.05696">Paper on Multi-Fidelity RL</a> accepted at TMLR
					</P>
				  	<P>
						Dec 2025: <a href="https://arxiv.org/abs/2510.12992">Paper on Planning with VLMs</a> accepted at AAMAS 2026
					</P>
					<P>
						Nov 2025: <a href="https://arxiv.org/pdf/2505.05519">Paper on Privacy guarantees for real-time video</a> accepted at TMLR
					</P>
					<P>
						Oct 2025: <a href="https://arxiv.org/pdf/2412.01017">Paper on inverse games</a> accepted at IEEE RA-L
					</P>
				  	<P>
						Sept 2025: <a href="https://arxiv.org/abs/2505.14817">Paper on Bargaining with Binary Preferences</a> accepted at NeurIPS 2025
					</P>
					<P>
						June 2025: <a href="https://arxiv.org/abs/2505.14817">Paper on Zero-sum Dynamic Games</a> accepted at IEEE L-CSS. My first paper to be accepted in the PhD!
					</P>
			
				
					<br>
					<!-- <span class="mini-header">
						<h3>PhD Advisors</h3>
					</span> -->
					
					<!-- <div mv-bar="none" mv-app="people" mv-source="https://github.com/Social-Futures-Lab/social-futures-lab.github.io">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pubbody">
							
							<article  property="member" typeof="Person" mv-multiple style="[if(jobTitle == 'phd' or jobTitle == 'postdoc', '', 'display:none;')]">
							<span mv-if="name == 'Shagun Jhaver'">
								<BR>
								<span class="mini-header">
									<h3>PhD and Postdoc Alumni</h3>
								</span>
							</span>
								
								<img src="[image]" class="staffimage" alt="" />
								
								<a href="[website_url]" property="homepage">
									<span property="name">Name</span></a><meta property="id" content="[name]">,
								
									<span property="jobTitle">
										<select>
											<option value="pi">Assistant Professor</option>
											<option value="postdoc" selected>Postdoctoral Researcher</option>
											<option value="phd" selected>PhD Student</option>
											<option value="visiting">Visiting Researcher</option>
											<option value="masters">Masters Student</option>
											<option value="undergrad">Undergraduate Student</option>
											<option value="intern">Summer Intern</option>
										</select>
									</span>

								<span mv-if="alum == true">
									<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						                    <span class="current" property="current"></span>
						                  </span>
									
									
							</article>	
						</div>
					</div>
				</div> -->

					
					
<!-- 					<br>
					<span class="mini-header">
						<h3>Travel Schedule</h3>
					</span>
					<P>
						Zoom! :)
					</P> -->
					
				
<!-- 					<BR>
					<span class="mini-header">
						<h3>Blog Posts</h3>
					</span>
					<P>
						<a href="https://misinfocon.com/themes-from-the-truth-and-trust-online-conference-2019-4f26cee1a445">
							Themes from the Truth and Trust Online Conference 2019
						</a> - Nov 13, 2019
						<BR>
						<a href="https://misinfocon.com/exploring-the-design-of-credibility-tools-c198530785a4">
							Exploring the Design of Credibility Tools
						</a> - Dec 19, 2018
						<BR>
						<a href="https://medium.com/acm-cscw/having-trouble-keeping-up-with-group-chat-39ad7e456968">
							Having Trouble Keeping Up with Group Chat?
						</a> - Nov 5, 2018
						<BR>
						<a href="https://medium.com/squadbox/4-things-we-learned-from-talking-to-people-who-face-harassment-research-behind-the-design-of-a28e10785319">
							4 Things We Learned from Talking to People who Face Harassment: Research behind Squadbox
						</a> - April 17, 2018
						<BR>
						<a href="https://amyxzhang.wordpress.com/2017/06/12/considering-end-users-in-the-design-of-news-credibility-annotations/">
							Considering End Users in the Design of News Credibility Annotations
						</a> - June 12, 2017
						<BR>
						<a href="https://amyxzhang.wordpress.com/2016/12/30/year-in-reviews/">Year in Reviews</a> - Dec 30, 2016<BR>
						<a href="https://amyxzhang.wordpress.com/2015/05/11/mailing-lists-why-are-they-still-here-whats-wrong-with-them-and-how-can-we-fix-them/">Mailing Lists: Why Are They Still Here, What's Wrong With Them, and How Can We Fix Them?</a> - May 11, 2015<BR>
						<a href="http://amyxzhang.wordpress.com/2014/03/19/thoughts-and-reflections-from-a-1st-time-reviewer/">Thoughts and Reflections from a 1st Time Reviewer</a> - March 19, 2014<BR>
						<a href="http://amyxzhang.wordpress.com/2012/03/11/what-is-a-neighborhood/">What is a Neighborhood?</a> - March 11, 2012<BR>
					</p> -->
<!-- 					
							
				<BR>
						<span class="mini-header">
						<h3>Application Materials</h3>
						</span>
		        		<a href="papers/AZ_research_statement.pdf">Research Statement</a>,
		        		<a href="papers/AZ_teaching_statement.pdf">Teaching Statement</a>,
		        		<a href="papers/AZ_diversity_statement.pdf">Diversity Statement</a>
		        	<BR>
					
					<BR>
					<span class="mini-header">
						<h3>Tweets By @amyxzh</h3>
					</span>
				<a class="twitter-timeline" 
					width="300" height="400"
					data-chrome="nofooter noheader noborder transparent"
					data-border-color="#ffffff"
	href="https://twitter.com/amyxzh?ref_src=twsrc%5Etfw">Tweets by amyxzh</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			  		<P></P>
			  		<BR> -->
			  </div>
				
				
				
			  <div class="col-xs-12 col-sm-8 col-md-7 line" style="float: right">
			  	<BR>
			  		
			  		
			  	<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pubbody"> 
						<span class="mini-header" id="projects">
							Representative Publications</span> <a href="https://scholar.google.com/citations?user=JfH0nfEAAAAJ&hl=en">(click here for all my papers at <img src="img/scholar2.png" alt="Google Scholar" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">)</a>  </div>
				</div>
				<div style="font-size: 12px; color: #666; margin-top: 5px; margin-bottom: 10px;">* denotes equal contributions</div>
				<BR>
				<!-- Paper 1: DiBS -->
				<article class="row">
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2"> 
						<img class="img-responsive center-block" src="img/papers/dibs.png" alt="Paper thumbnail" style="border: 1px #737373 solid; margin-top: 6px;">
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 pubbody">
						<B>
							<span class="mini-header2">Cooperative Bargaining Games Without Utilities: Mediated Solutions from Direction Oracles</span>
						</B>
						<BR>
						<span style="color: #000000; font-weight: 400;">Kushagra Gupta*</span>, Surya Murthy*, Mustafa O. Karabag, Ufuk Topcu, David Fridovich-Keil
						<BR>
						<span style="color: #000000; font-weight: 400;">NeurIPS 2025</span>
						<BR>
						<u>Keywords:</u> Cooperative Bargaining Game Theory, Learning from Binary Preferences, Multi-task Learning
						<BR>
						<span class="links">
							<a href="https://arxiv.org/pdf/2505.14817" class="button">
								<img src="img/pdf.png" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">PDF
							</a>
							<a href="https://kaugsrha.github.io/dibs-on-neurips" class="button">
								<img src="img/earth4.png" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;"> Website
							</a>
							<a href="https://neurips.cc/virtual/2025/loc/san-diego/poster/119205" class="button">
								<img src="img/video.png" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;"> Presentation Video
							</a>
							<BR><BR>
						</span>
					</div>
				</article>
				<!-- Paper 2: SecOND -->
				<article class="row">
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2"> 
						<img class="img-responsive center-block" src="img/papers/second.png" alt="Paper thumbnail" style="border: 1px #737373 solid; margin-top: 6px;">
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 pubbody">
						<B>
							<span class="mini-header2">Second-Order Algorithms for Finding Local Nash Equilibria in Zero-Sum Games</span>
						</B>
						<BR>
						<span style="color: #000000; font-weight: 400;">Kushagra Gupta</span>, Xinjie Liu, Ross Allen, Ufuk Topcu, David Fridovich-Keil
						<BR>
						<span style="color: #000000; font-weight: 400;">Under review</span>
						<BR>
						<u>Keywords:</u> Nonconvex-nonconcave zero-sum games, Local Nash equilibria, Adversarial learning
						<BR>
						<span class="links">
							<a href="https://arxiv.org/pdf/2406.03565" class="button">
								<img src="img/pdf.png" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">PDF
							</a>
							<!-- <a href="https://kaugsrha.github.io/dibs-on-neurips" class="button">
								<img src="img/earth4.png" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;"> Website
							</a> -->
							<BR><BR>
						</span>
					</div>
				</article>
				<!-- Paper 3: More info not always better -->
				<article class="row">
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2"> 
						<img class="img-responsive center-block" src="img/papers/lcsszerosum.png" alt="Paper thumbnail" style="border: 1px #737373 solid; margin-top: 6px;">
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 pubbody">
						<B>
							<span class="mini-header2">More Information is Not Always Better: Connections between Zero-Sum Local Nash Equilibria in Feedback and Open-Loop Information Patterns</span>
						</B>
						<BR>
						<span style="color: #000000; font-weight: 400;">Kushagra Gupta</span>, Ross Allen, David Fridovich-Keil, Ufuk Topcu
						<BR>
						<span style="color: #000000; font-weight: 400;">IEEE L-CSS</span> (presented at IEEE CDC 2025)
						<BR>
						<u>Keywords:</u> Zero-sum games, Information structures in dynamic games
						<BR>
						<span class="links">
							<a href="https://arxiv.org/pdf/2503.15486" class="button">
								<img src="img/pdf.png" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">PDF
							</a>
							<!-- <a href="https://kaugsrha.github.io/dibs-on-neurips" class="button">
								<img src="img/earth4.png" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;"> Website
							</a> -->
							<BR><BR>
						</span>
					</div>
				</article>

				<!-- Paper 3: OGSolve -->
				<article class="row">
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2"> 
						<img class="img-responsive center-block" src="img/papers/ogsolve2.png" alt="Paper thumbnail" style="border: 1px #737373 solid; margin-top: 6px;">
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 pubbody">
						<B>
							<span class="mini-header2">Game-theoretic Occlusion-Aware Motion Planning: an Efficient Hybrid-Information Approach</span>
						</B>
						<BR>
						<span style="color: #000000; font-weight: 400;">Kushagra Gupta</span>, David Fridovich-Keil
						<BR>
						<span style="color: #000000; font-weight: 400;">CoRL Workshop 2022</span>
						<BR>
						<u>Keywords:</u> Occlusion-aware motion planning, Dynamic noncooperative game theory, Information structures in dynamic games
						<BR>
						<span class="links">
							<a href="https://arxiv.org/pdf/2309.10901" class="button">
								<img src="img/pdf.png" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;">PDF
							</a>
							<a href="https://www.youtube.com/watch?v=j7MhhZlvpUs" class="button">
								<img src="img/youtube.jpg" style="width: 20px; height: 20px; vertical-align: -15px; margin-left: 2px; margin-right: 2px;"> Presentation Video
							</a>
							<BR><BR>
						</span>
					</div>
				</article>
				
					
						
			
					
			</div>
		</div>
		<P></P>
		<BR>
		<small>This site is built with the template graciously provided by <a href="https://homes.cs.washington.edu/~axz/index.html">Amy X. Zhang</a>! GitHub code <a href="https://github.com/amyxzhang/personal_website">here</a>.</small>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
	</body>
</html>
